
*{
    box-sizing: border-box;    
}

header,footer{
    background-color: white;
    border-style: solid;
    border-radius: 1.25rem;
    padding: 0.313rem;
    text-align: center;
}

.separador1{
    height: 0.625rem;
    clear: both;
}

.separador2{
    width: 2%;
    height: 0.063rem;
    float: left;
}

.centro{
    width: 60%;
    margin-left: auto;
    margin-right: auto; 
    display: block;
    border-style: solid;
    /*Se puede separar este bloque del top tambien con este comando
    peeeero si quieres usar un border box puede dar problemas con 
    el padding:
    padding-top: 10px;*/
}

.main{
    height: 75rem;
    border-style: solid;
}

img{
    transition: all 0.5s linear /*ease*/;
    border-style: solid;
    border-color: white;
}

img:hover{
    transform: scale(0.9);   
    border-radius: 1.875rem; 
}

.main img{
    width: 49%;    
    float: left;
}

body{
    background-image: 
    url(Imagenes/Fondo\ 2.png);
    background-position: center 
    center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: grey;
}