/*
    Dimitar Dimitrov Milevski
    Septiembre de 2024

*/

*{
    margin: 2rem;
    box-sizing: border-box;
}

body{
    background-color:yellowgreen;
    border: solid 1.125rem green;
    padding: 5rem;
    margin: 12.5rem;
    border-radius: 5rem;
}

h1,h2{
    background-color: rgb(159, 255, 130);
    columns: rgb(255, 255, 255);
    padding: 1.563rem;
    border-radius: 2.813rem;
    text-align: center;

}