*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    color:white
}

h1{
    color: white;
}

h1{
    color:black;
    text-align: center;
}

div{
    width: 9.375rem;
    height: 6.25rem;
    padding: 1.875rem;
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

#lineaNegra{
    background-color: rgb(143, 141, 141);
    /*float: left;*/
    clear: both;
    width: 100%;
    border-radius: 0rem ;
}

#lineaVerde{
    background-color: rgb(23, 221, 5);
    clear: both;
    width: 100%;
    border-radius: 0rem;
}

#bolaAzul{
    background-color: rgb(25, 0, 255);
    float: left;
    width: 25%;
    border-radius: 50%;
}

#bolaAmarilla{
    background-color: rgb(255, 251, 0);
    float: left;
    width: 25%;
    border-radius: 50%;
}

#bolaRoja{
    background-color: red;
    float: left;
    width: 25%;
    border-radius: 50%;
}

#bolaAzul2{
    background-color: blue;
    float: left;
    width: 25%;
    border-radius: 50%;
}