*{
    box-sizing: border-box;
    margin: 0rem;
}

h1{
   text-align: center; 
}

section{
    width: 70%;    
    margin: auto;
    border: dashed;
    padding: 0.938rem;
}

ol ol {
    list-style-type: lower-roman;    
}

.PiezasdelOrdenador{
    background-color: bisque;
}

.Cursos {
    background-color: cornflowerblue;
}

.PalabrasAleatorias {
    background-color: darkgreen;
}    