/*
 font-family: "Bebas Neue", sans-serif;
 font-family: "Edu AU VIC WA NT Pre", cursive;
 font-family: "Sour Gummy", sans-serif;
 font-family: "Doto", sans-serif;
*/

h1{
    text-align: center;
}

section{
    display: flex;
}

h2{
    padding: 2rem;
}

.s1{
    font-family: "Bebas Neue", sans-serif;    
}

.s2{
    font-family: "Edu AU VIC WA NT Pre", cursive;    
}

.s3{
    font-family: "Sour Gummy", sans-serif;    
}

.s4{
    font-family: "Doto", sans-serif;    
}