/*
    Dimitar Dimitrov Milevski
    Septiembre de 2024
*/

*{
    margin: 20px;
    box-sizing: border-box;
}

body{
    background-color:yellowgreen;
    border: solid 18px green;
    padding: 80px;
    margin: 200px;
    border-radius: 80px;
}

h1,h2{
    background-color: rgb(159, 255, 130);
    columns: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 45px;
    text-align: center;

}